/* Layout wrapper */
.layout {
    display: flex;
    width: 100%;
    min-height: 600px;
}

/* LEFT MENU */
.left-menu {
    width: 30%;
    background: #f1f5f7;
    padding: 20px;
    border-right: 2px solid #d3d3d3;
}

    .left-menu h2 {
        margin-bottom: 20px;
    }

    /* menu links */
    .left-menu a {
        display: block;
        padding: 12px 15px;
        margin-bottom: 12px;
        background: white;
        border-radius: 6px;
        text-decoration: none;
        font-size: 18px;
        color: #000;
        border: 1px solid #ccc;
    }

        .left-menu a:hover {
            background: #e9eef2;
        }


/* RIGHT CONTENT AREA */
.right-content {
    width: 70%;
    padding: 30px;
    background: #ffffff;
}
